{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Editar Estado de la Orden #{{ orden[0] }}</h2>
    <div class="card shadow-sm p-4">
        <form method="POST">
            <div class="mb-3">
                <label for="estado" class="form-label">Estado de la orden:</label>
                <select name="estado" id="estado" class="form-select">
                    {% if orden[4] == 'Pendiente' %}
                        <option value="Pendiente" selected>Pendiente</option>
                    {% else %}
                        <option value="Pendiente">Pendiente</option>
                    {% endif %}
                    {% if orden[4] == 'En proceso' %}
                        <option value="En proceso" selected>En proceso</option>
                    {% else %}
                        <option value="En proceso" >En proceso</option>
                    {% endif %}
                    {% if orden[4] == 'Completada' %}
                        <option value="Completada" selected>Completada</option>
                    {% else %}
                        <option value="Completada" >Completada</option>
                    {% endif %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Actualizar Orden</button>
        </form>
        <div class="mt-3">
            <a href="{{ url_for('listar_ordenes') }}" class="btn btn-secondary">Volver a Órdenes</a>
        </div>
    </div>
</div>
{% endblock %}