{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center">Lista de Productos</h2>

    {% if productos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto[0] }}</td>  <!-- ID -->
                        <td>{{ producto[1] }}</td>  <!-- Nombre -->
                        <td>{{ producto[2] }}</td>  <!-- Descripción -->
                        <td>{{ producto[3] }}</td>  <!-- Cantidad -->
                        <td>{{ producto[4] }}</td>  <!-- Precio -->
                        <td>
                            <a href="/actualizar/{{ producto[0] }}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="/confirmar_eliminar/{{ producto[0] }}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay productos registrados.</p>
    {% endif %}
{% endblock %}
